<!--
 * File Name: about.ejs 
 * Student’s Name: Koji Abe
 * StudentID: 301268388
 * Date: Sep 23, 2023
-->

<!-- Stylesheet Linking -->
<link rel="stylesheet" href="/css/styles.css">
<!-- Navigation Bar -->
<%- include('partials/navbar') %>

<div class="about-container">
    <h1>About Me</h1>
    
    <h2>Koji Abe</h2>
    
    <!-- my Image -->
    <img src="https://media.licdn.com/dms/image/D5603AQFSmpOPlxZoPw/profile-displayphoto-shrink_800_800/0/1680222857899?e=1700697600&v=beta&t=4mRAuK-dJAu9L_Nb-uS2klDXskwqbH1_Ki4nwvKtWk0" alt="About Me Image" class="about-image">
    
    <!-- Short Paragraph About me -->
    <p>
        Hello! I'm Koji Abe and student at Centennial College.
    </p>
    <a href="/Picture/my_resume.pdf" download>Download My Resume</a>


</div>