<!--
 * File Name: projects.ejs 
 * Student’s Name: Koji Abe
 * StudentID: 301268388
 * Date: Sep 23, 2023
-->

<!-- Stylesheet Linking -->
<link rel="stylesheet" href="/css/styles.css">
<!-- Navigation Bar -->
<%- include('partials/navbar') %>


<h1>My Projects</h1>
<p>Welcome to my projects page. Here are some of the projects I've worked on:</p>

    <!-- Projects Section -->
<div class="project">
    <h2>Project 1</h2>
    <p>Description of project 1. In progress.</p>
    <img src="https://jiescribano.files.wordpress.com/2017/03/workinprogress.jpg" alt="Project 1 Image">
</div>

<div class="project">
    <h2>Project 2</h2>
    <p>Description of project 2. In progress.</p>
    <img src="https://jiescribano.files.wordpress.com/2017/03/workinprogress.jpg" alt="Project 2 Image">
</div>

<div class="project">
    <h2>Project 3</h2>
    <p>Description of project 3. In progress.</p>
    <img src="https://jiescribano.files.wordpress.com/2017/03/workinprogress.jpg" alt="Project 3 Image">
</div>