<!--
 * File Name: services.ejs 
 * Student’s Name: Koji Abe
 * StudentID: 301268388
 * Date: Sep 23, 2023
-->

<!-- Stylesheet Linking -->
<link rel="stylesheet" href="/css/styles.css">
<!-- Navigation Bar -->
<%- include('partials/navbar') %>


<h1>My Services</h1>
<p>Here are the services I offer:</p>

<ul>
    <li>Web Development</li>
    <li>Mobile App</li>
    <li>Database</li>

    <div class="service-item">
        <img src="/images/programming.jpg" alt="Programming Image">
        <h2>General Programming</h2>
        
    </div>
</ul>